<div>
  <button class="btn btn-primary">Dodaj przedmiot</button>
  <table  class="table table-hover">
    <thead>
    <tr>
      <th>Nazwa przedmiotu</th>
      <th>Srednia ocena prowadzącego</th>
      <th>Srednia ocena jasności przekazu</th>
      <th>Srednia ocena</th>
      <th>Procent oddanych ankiet</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subjecto of subjcets$ | async ">
      <td> {{ subjecto[0] }} </td>
      <td> {{ subjecto[1] }} </td>
      <td> {{ subjecto[2] }} </td>
      <td> {{ subjecto[3] }} </td>
      <td> {{ subjecto[4] }} % </td>
      <td><button class="btn btn-danger">Usuń</button></td>
    </tbody>
  </table>
</div>
