<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nazwa przedmiotu</th>
      <th>Ocena prowadzącego</th>
      <th>Ocena jasności przekazu</th>
      <th>Ogólne zadowolenie</th>
      <th>Dodatkowa opinia</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let survey of surveys$ | async ">
      <td> {{ survey.subject.name }} </td>
      <td> {{ survey.rate1 }} </td>
      <td> {{ survey.rate2 }} </td>
      <td> {{ survey.rate3 }} </td>
      <td> {{ survey.opinion }} </td>
    </tbody>
  </table>
</div>
