body {
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
  height: 100vh;
}

button {
  margin-right: 10px;
  color: yellow;
}

#border {
  margin-top: 20px;
}

#buttonsDiv {
  margin: 0 auto;
  left: 500px;
}

.image-profile {
  width: 5%;
  height: 50%;
  border-radius: 15px;
}

a {
  color: whitesmoke;
}
.navbar {
  justify-content: space-between;
  background-color: black;
  color: white;
}

span {
  padding-right: .1rem;
}


.button {
  margin-left: 10px;
}


